*{
    font-family: "Lato";
    margin: 0px auto; 
}
.header {
    display: flex;
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
    justify-content: space-between; 
    
 }
 
 .header .header_navigation ul {
    display: flex;
    list-style-type: none; 
    
 }
 .first ul li:nth-child(n+2) {
    list-style: disc;
    color: rgb(73,78,98) 
  }
 .header .header_navigation ul li {
    
    font-size: 12px;
    font-weight: 500;
    margin-left: 30px;
 }

 a{
    text-decoration: none;
    color: #ffffff;
 }

 .header_navigation{
    display: flex;
    padding-top: 41px;
    margin-right: 40px;
    
 }

 .header .logo {
    margin-left: 40px;
    padding-top: 27px;
    font-size: 13px;
    color: #ffffff;  
  }

  .color{
    display: flex;
    width: 1020px;
    height: 6px;
    background-color: #323746;
  }

.color2{
    display: flex;
    width: 1020px;
    height: 15px;
    background-color: #ea676b;
}
.slider{
    
    height: 600px;
    display: flex;
    width: 1020px;
    background-color: #f06c64;
    position: relative;
	overflow: hidden;
}

.iPhone{
    display: flex;
    
    
}
#vertical{
    border-radius: 30px;  
    padding-left: 80px;
    margin-top: 53px;
    height: 482px;
    
}

#horizontal{
    border-radius: 30px;
    padding-right: 70px;
    margin-top: 173px;
    height: 240px;
}


.our_services{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1020px;
    height: 430px;
    background-color: #f2f2f2;
    padding-top: 64px;
    
}
.our_services .service{
    padding-top: 27px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
}
.our_services h2{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 700;
    margin-left: 40px;
}

.layout-3col-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 51px;
    margin-left: 40px;
}
.block{
    display: flex;
    width: 300px;
    height: 85px;
    margin-left:10px;
}
.layout-3col-1 .block .text p{
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    width: 219px;
    
}
.layout-3col-1 .block .text h4{
    font-size: 18px;
    color: #666d89;
    font-weight: 900;
    margin-bottom: 10px;

}
.text{
    margin-left: 25px;
}
.layout-3col-1 .block img{
    height: 60px;
}

.layout-3col-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    margin-left: 40px;
}
.layout-3col-2 .block img{
    height: 60px;
}
.layout-3col-2 .block .text p{
    
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    
}
.layout-3col-2 .block .text h4{
    font-size: 18px;  
    color: #666d89;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 14px;

}