*{
    margin: 0px auto; 
}
@font-face {
    font-family: "Lato Light";
    src: url("assets/fonts/Lato-Light.ttf");
  }
  
  @font-face {
    font-family: "Lato Regular";
    src: url("assets/fonts/Lato-Regular.ttf");
  }
  
  @font-face {
    font-family: "Lato Bold";
    src: url("assets/fonts/Lato-Bold.ttf");
  }
#header {
    display: flex;
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
    justify-content: space-between; 
   
    
 }
 
 #header .header_navigation ul {
    display: flex;
    list-style-type: none; 
    
 }
 .first ul li:nth-child(n+2) {
    list-style: disc;
    color: rgb(73,78,98) 
  }
 #header .header_navigation ul li {
    
    font-size: 12px;
    font-weight: 500;
    margin-left: 30px;
    cursor: pointer;
 }

 .header_navigation{
    display: flex;
    padding-top: 41px;
    margin-right: 40px;
    
 }

 #header .logo {
    margin-left: 40px;
    padding-top: 27px;
    font-size: 13px;
    color: #ffffff;  
  }

  .color{
    display: flex;
    width: 1020px;
    height: 6px;
    background-color: #323746;
  }

.color2{
    display: flex;
    width: 1020px;
    height: 7px;
    padding: 0px;
    background-color: #ea676b;
}
#slider{
    height: 600px;
    display: flex;
    width: 1020px;
    background-color: #f06c64;
   
}
 #toRight{
    height: 27px;
    margin-top: 280px;
    margin-right: 40px;
    cursor: pointer;
 }
 #toLeft{
    height: 27px;
    margin-top: 280px;
    margin-left: 40px;
    transform: rotate(180deg); 
    cursor: pointer;
 }
 
.phone{
    display: flex;
    width: 907px;

}

#horizontalPhone{
    width: 483px;
    height: 240px;
    margin-left: -50px;
    margin-top: 174px;
    position: absolute;
    margin-left: -310px;
    cursor: pointer;

}
.fullImg{
    position: relative;
}
#verticalPhone{
    width: 240px;
    height: 483px;
    margin-top: 53px;
    position: absolute;
    margin-left: -170px;
    cursor: pointer;
}
#yellow{
    position: absolute;
    margin-top: 115px;
    margin-left: -159px;
}
#blue{
    margin-top: 185px;
    margin-left: -253px;
    position: absolute;
}

.offScreen{
    display: none;
}
#horizontalPhone2{
    width: 483px;
    height: 240px;
    margin-top: 174px;
}

#verticalPhone2{
    width: 240px;
    height: 483px;
    margin-left: -50px;
    margin-top: 53px;
}
#leftPhone{
    margin-left: 195px;
    margin-top: 152px;
    width: 156px;
    height: 314px;
}
#rightPhone{
    margin-top: 152px;
    width: 156px;
    height: 314px;
    margin-left: -221px;
    
}
#centerPhone{
    margin-top: 43px;
    margin-left: -218px;
    z-index: 1;
    width: 255px;
    height: 513px;
}
.sliderJ .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
    
   
}
@-webkit-keyframes fade {
    from {
        opacity: .3;
        -webkit-transform: scale(0.6);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1.0);
    }
}
@keyframes fade {
    from {
        opacity: .3;
        transform: scale(0.6);
    }
    to {
        opacity: 1;
        transform: scale(1.0);
    
    }
}




#our_services{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1020px;
    height: 430px;
    background-color: #f2f2f2;
    padding-top: 64px;
    
    
}

#our_services .service{
    padding-top: 27px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
}
#our_services h2{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 700;
    margin-left: 40px;
}

.layout-3col-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 51px;
    margin-left: 40px;
}
.block{
    display: flex;
    width: 300px;
    height: 85px;
    margin-left:10px;
}
.layout-3col-1 .block .text p{
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    width: 219px;
    
}
.layout-3col-1 .block .text h4{
    font-size: 18px;
    color: #666d89;
    font-weight: 900;
    margin-bottom: 10px;

}
.text{
    margin-left: 25px;
}
.layout-3col-1 .block img{
    height: 60px;
}

.layout-3col-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    margin-left: 40px;
}
.layout-3col-2 .block img{
    height: 60px;
}
.layout-3col-2 .block .text p{
    
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    
}
.layout-3col-2 .block .text h4{
    font-size: 18px;  
    color: #666d89;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 14px;

}
#portfolio{
    height: 863px;
    width: 1020px;
    background-color: #2d303a;
}
#portfolio h2{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    padding-left: 40px; 
    padding-top: 67px;
}
#portfolio p{
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    padding-left: 40px; 
    padding-top: 30px;
}
.second #portfolio .portfolio_navigation ul {
    display: flex;
    padding-left: 40px;
    list-style-type: none;
    padding-top: 10px;
 }
 .second #portfolio .portfolio_navigation .port_navigation li{
    display: flex;
    font-size: 12px;
    line-height: 22px;
    list-style-type: none;
    border-radius: 5px;
    border: 1px solid #666d89;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 6px;
    margin-left: 6px;
 }
 a{
    text-decoration: none;
    color: #FFFFFF;
 }
  a:hover {
    color: #dedede;
 
   }
#portfolio #image {  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 17px;
    padding-left: 40px; 
    padding-right: 40px; 
    padding-top: 18px;
  }
  .color3{
    display: flex;
    width: 1020px;
    height: 6px;
    padding: 0px;
    background-color: #323746;
  }
  #about_us{
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
    
  }
  #about_us h2{
    padding-top: 68px;
    padding-left: 40px; 
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
  }
 #about_us #p_us {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 28px; 
}
.people{
    display: flex;
    flex-direction: row;
    padding-left: 40px;

}
.person{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-right: 19px;
}

.person .person_img {
    padding-top: 46px; 
}
.person h4{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    padding-top: 15px;
    
}
.person p{  
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    padding-top: 10px;
}
.person .media {
    display: flex;
    list-style-type: none;
    width: 152px;
    padding-top: 23px;
    margin-left: 0px;
    padding-left: 0px;
   
}

.person .media li img{
    width:32px;
    height: 32px;
    padding-right: 8px;
    
}
.color4{
    display: flex;
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
    padding: 0px;
}
#main{
    height: 648px;
    background-color: #f06c64;
    width: 1020px; 
}
.get_a_quote {
    display: flex;
    flex-direction: column; 
    padding-top: 67px;  
    padding-left: 40px; 
 }
 .get_a_quote h2{
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    margin-left: 0px;
 }
 .get_a_quote p{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    margin-top: 32px;
    margin-right: 40px;
 }

 .information{
    display: flex;
    padding-left: 40px;
    flex-direction: row;
    padding-top: 43px;
    padding-right: 40px;
     
 }
 form{
    display: flex;
    flex-direction: column;
    outline: none;
   
 }
 
 .information form textarea{
    width: 605px;
    height: 202px;  
    resize: none; 

 }
 .form_elem{
    width: 605px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    padding-left: 10px;
    border: none;
    
 }
 input::placeholder {
   font-size: 12px;
   line-height: 22px;
   color: #f48c8f;
   font-weight: 400;
 }
 textarea::placeholder {
   font-size: 12px;
   line-height: 22px;
   color: #f48c8f;
   font-weight: 400;
 }

#submit{
    width: 100px;
    background-color: #FBC65F;
    color: #886A30;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-left: 0px !important;
    cursor: pointer;
 }
 .form_elem:not(:first-child){
    margin-top: 15px;
 }

 
.contact_inf{
    display: flex;
    flex-direction: column;
    margin-left: 21px;
   
   
 }
 .contact_inf h4{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    margin-left: 0px;
 }
 .contact_inf p{
     width: 303px;
     margin-top: 10px;
     font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    margin-right: 40px;
     
 }
 .third .contact_inf ul{
    
    list-style-type: none;
    flex-direction: column;
    margin-top: 17px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    margin-left:0px;
    padding-left:0px;
    
 }
 .contact_inf ul li img{
    text-align: center;
    padding-right: 10px;
  
 }

 .color5{
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
    padding: 0px; 
 }
 .third footer{
    display: flex;
    width: 1020px;  
    height: 76px;
    background-color: #2d303a;

 }
 .third footer p{
    margin-left: 40px;
    margin-top: 33px;
    color: rgb(91, 97, 121);
    font-size: 12px;
    line-height: 22px;

 }
 .third footer ul{
    display: flex;
    list-style-type: none;
    width: 152px;
    margin-right: 40px;
    margin-top: 23px;
 }
 .third footer ul li img{
     width:32px;
     height: 32px;
     padding-left: 8px;
 }
 
.selected_img{
     border: 5px solid #F06C64;
 }

.selected_nav{
    color:rgb(240,108,100) !important;
}

.selected_portfolio{
    color: #ffffff !important;
}

@media (min-width: 375px) and (max-width: 768px) {
    *{
        margin: -1px;
    }
    #header{
        height: 71px;
    }
    .header_navigation{
        display: none;
    }
    .color{
        display: none;
    }
  
  
    #slider{
      
        height: 220px;
    }
    .sliderJ{
       
        height: 220px;
        width: 355px;
    }
    #verticalPhone{
        margin-top: 20px;
        width: 88px;
        height: 177px;
        margin-left: 20px;
        
    }
    #toLeft{
        
        margin-top: 98px;
        height: 25px;
        margin-left: 12px;
        
    }
    #toRight{
        margin-top: 98px;
        height: 25px;
        margin-left: -35px;
       
    }

    #horizontalPhone{
        width: 177px ;
        height: 88px; 
        margin-top: 65px;
        margin-left: 135px;
      }
    #yellow{
        width: 69px;
        height: 122px;
        margin-top: 44px;
        margin-left: 25px;
      }
    #blue{
        width: 122px;
        height: 69px;
        margin-top: 70px;
        margin-left: 157px;
      }
    #our_services{
        padding-top: 35px;
        height: 1030px;
      }
      #our_services h2{
        margin-left: 32px;  
    }
    #our_services .service{
        margin-left: 32px;  
        width: 303px;
        font-size: 19px;
        height: 214;
    }
    .layout-3col-1{
        padding-top: 139px;
        flex-direction: column;
        margin-left: 32px;  
    }
    .layout-3col-2{
        flex-direction: column;
        padding-top: 0px;
        margin-left: 32px;  
        
        }
    .layout-3col-1 .block {
        padding-top: 42px;
        }

    .layout-3col-2 .block {
        padding-top: 42px;
        }

    .layout-3col-1 .block img{
        margin-left: -11px;
        }

    .layout-3col-2 .block img{
        margin-left: -11px;
        }

    #portfolio{
          height: 844px;
    }

    #portfolio #image {
        display: grid;
        grid-template-rows:  1fr 1fr 1fr 1fr;
        grid-template-columns:  1fr 1fr ;
        gap: 14px;
        padding-top: 25px;
        padding-left: 30px;
        width: 315px;
    }    

    #image .picture{
        width: 151px;
        height: 128px;
      
    }

    #image .dispNone{
        display: none;
    }

    #portfolio h2{
        padding-left: 30px;
        padding-top: 42px;
    }

    #portfolio p {
        width: 315px;
        height: 96px;
        padding-left: 30px;
    }
    .second #portfolio .portfolio_navigation ul{
        padding-left: 30px;
    }
    #about_us{
        height: 1676px;
    }
    
    #about_us h2{
        padding-left: 30px;
        padding-top: 33px;
    }
    #about_us #p_us{
        padding-left: 30px;
        width: 315px;
        
    }
    .people{
        flex-direction: column;
        padding-left: 30px;
    }
    .person .person_img{
        padding-top: 34px;
    }
    .person p{
        padding-top: 0px;
    }
    .person .media{
        padding-top: 9px;
    }
    #main{
        height: 969px;
    }

    .get_a_quote p{
        
        width: 314px;
        height: 214px;
    }
    .get_a_quote{
        padding-top: 44px;
        padding-left: 30px;
    }
    .information{
        padding-left: 30px;
        padding-right: 30px;
        padding-top:0;
        flex-direction: column;
    }
    .form_elem{
        width: 310px;
        margin-top: -10px;
        
    }
    .form_elem:not(:first-child){
        margin-top: 12px;
    }
    .information form textarea{
        width: 310px;
        height: 159px;
    }
    #submit{
        width: 323px;
        height: 38px;
    }
    .contact_inf{
        margin-top: 32px;
        margin-left: 0px;
    }
    .contact_inf p{
        font-size: 14px;
        width: 315px;
        height: 94px;
    }

    .third .contact_inf ul li{
        padding-top: 5px;
    }
    .third footer p{
        display: none;
       
    }
    .third footer{
        height: 76px;
    }
    .third footer ul{
    padding-left: 104px;
    }
    
 
    #leftPhone{
        width: 60px;
        height: 122.4px;
        margin-top: 40px;
        margin-left: 193px;
    }
    #rightPhone{
       
        width: 60px;
        height: 122.4px;
        margin-top: 40px;
        margin-left: -140px;
        
    }
    #centerPhone{
        margin-top: 20px;
        width: 88px;
        height: 177px;
        margin-left: -138px;
    }
    #header .logo {
        padding-left: 148px;
        margin: 0px;
        letter-spacing: -0.03em;
    
    }
};
